<!DOCTYPE html>
<html>
<head>
    <link href="css/mod.css" rel="stylesheet" type="text/css">
    <title>Proyecto Multicore G5</title>
</head>
<body>
    <h1>Lista de juegos</h1>
   
    <!--It makes a python for with the list containing the games data-->
    {%for i in range(0,len-1,5)%}                 <!--It makes an array with the list l_games -->                  
        <div>
        <p>Nombre: {{data[i]}} 
        <p>Amazon: {{data[i+1]}} &nbsp; Steam: {{data[i+2]}} </p> 
        <p> Metascore: {{data[i+3]}}  &nbsp; HowLongtoBeat: {{data[i+4]}}</p>
        <p>&nbsp;</p>
        </div>
            
       
    {%endfor%}



</body>
</html>